# Ignorar arquivos de configuração do IDE
.vscode/
.idea/

# Ignorar arquivos de build
/dist/
/build/

# Ignorar arquivos de dependências
node_modules/

# Ignorar arquivos sensíveis como credenciais
*.env
*.json

# Ignorar diretórios de cache
/.cache/

# Outras pastas ou arquivos específicos do projeto

